
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    /* height of the body will never be less than 100% of the viwport height */
    min-height: 100vh;
    height: 2550px;

    /* make entire body a flex box */
    display: flex;
    /* ensuring that entire body will be able to shrink and grow evenly */
    flex: 1;
}

.section-container{
    /* allowing dynamic resizing */
    display: flex;
    flex: 1; 
    flex-direction: column;

}

.section{
    display: flex;
}

.section1{
    flex: 5;
}
.section2{
    flex: 4;
}
.section3{
    flex: 3;
}
.section4{
    flex: 2;
}
.section5{
    flex: 1;
}