
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    /* height of the body will never be less than 100% of the viwport height */
    min-height: 100vh;
    height: 2550px;

    /* make entire body a flex box */
    display: flex;
    /* ensuring that entire body will be able to shrink and grow evenly */
    flex: 1;
    margin: 0;
    padding: 0;
}

.section-container{
    /* allowing dynamic resizing */
    display: flex;
    flex: 1; 
    flex-direction: column;

}

.section{
    display: flex;
    
}

/* aka Hero Section of webpage */
.section1{
    flex: 5;
    background-color:#1F2937
}
.section2{
    flex: 4;
}
.section3{
    flex: 3;
}
.section4{
    flex: 2;
}
.section5{
    flex: 1;
}


.header-section1{
    display: flex;
    height: 80px;
    flex: 1;
    padding: 24px 244px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
}

/* For the links in header-section1 */
ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
    

}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 24px;
}